<!doctype html>
<script type="text/javascript"> var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }}; </script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">



<script type="text/javascript">
    $(function() {
        var jump = function(e) {
            location.href = "/db/" + $('#owner').val() + '/' + $('#repo').val()
        };
        $('#submit_button').click(jump);
    });
</script>

<h1>
    DIDO <sub><b>D</b>uplicate <b>I</b>ssues <b>D</b>etect<b>O</b>r </sub>
</h1>

<hr>

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <button class="btn btn-outline-secondary" type="button">Repo Owner</button>
    </div>
    <input id="owner" type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
</div>

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <button class="btn btn-outline-secondary" type="button">Repo Name</button>
    </div>
    <input id="repo" type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
</div>

<button id="submit_button" type="submit" class="btn btn-primary btn-block">Try it!</button>

<!-- Footer -->
<footer class="page-footer font-small blue">
<div class="footer-copyright text-center py-3">
    Large repository will be a little bit slow. And detection is not running until click refresh. Refresh all will be very slow. Please be patient.</h4>    
</div>
</footer>
<!-- Footer -->

<h5>
    